@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<TravelAgent.Areas.Admin.Controllers.NewsViewModel>

<div class="jumbotron">
    <h1>@Html.DisplayNameFor(model => model.Title)</h1>
    <p class="lead">@Html.DisplayNameFor(model => model.Text)</p>
    <p><a href="#" class="btn btn-primary btn-lg">@Html.DisplayNameFor(model => model.ReleaseDate)</a></p>

      
</div>
    
