@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewBag.Title = "All Users";
}
<h1>ALL USERS</h1>
<div>
    @foreach (var user in Model.Admins)
    {
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <td>USER</td>
                   
                </tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>@user.Username</td>
                    
                </tr>
            </tbody>
        </table>


    }

        @foreach (var user in Model.Users)
        {

            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <td>USER</td>
                                      
                </thead>
                <tbody>
                    <tr class="info">
                        <td>@user.Username</td>
                        <td>@user.Roles </td>
                    </tr>
                </tbody>
            </table>

        }
</div>