@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "All Users";
}
<h1>ALL USERS</h1>
<div class="row">
    <div class="col-md-3">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <td class="warning">USER</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Admins)
                {

                    <tr class="info">
                        <td>@user.Username</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>